@font-face {
     font-family: Euclid Circular A Regular;
     font-display: swap;
     src:
          url("../fonts/Euclid Circular A Regular.woff2") format("woff2"),
          url("../fonts/Euclid Circular A Regular.woff") format("woff");
     font-weight: 400;
     font-style: normal;
}
