@use "./normalize.scss";

html,
body {
    height: 100%;
    margin: 0;
    font-family:
        Euclid Circular A Regular,
        sans-serif;
}

.wrapper {
    display: flex;
    height: 100vh;
    background: #7f7875;
    overflow: hidden;
}

.arc-menu {
    position: relative;
    padding-right: 55px;
    min-width: 160px;
}

.arc-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.arc-wrapper #arcSvg {
    width: 100%;
    height: 100%;
}

.arc-item {
    padding: 12px;
    position: absolute;
    background: #625b56;
    width: 74px;
    height: 74px;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 15.89px 13.91px 26.52px 0px #59524c;
    will-change: transform, opacity;

    .fill-path {
        fill: #adacac;
    }

    .fill-stroke {
        stroke: #adacac;
    }

    span {
        font-size: 26px;
        position: absolute;
        left: calc(100% + 18px);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-width: 500px;
        text-align: left;
        color: #ffffff;
        opacity: 0;
        transition: all 0.1s ease;
        z-index: -1;
        user-select: none;
        pointer-events: none;
    }

    &.active {
        color: #726965;
        background: #dbdbdb;

        .fill-path {
            fill: #726965;
        }

        .fill-stroke {
            stroke: #726965;
        }

        span {
            opacity: 1;
            z-index: 1;
        }
    }
}

.slider {
    flex: 1;
}

.slides-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}

.slides-wrapper {
    width: 100%;
    height: 100%;
    transition: transform 0.75s cubic-bezier(0.2, 0.9, 0.2, 1);
    will-change: transform;
}

.slider {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    transition: opacity 0.6s ease;
    position: relative;
}

.slide-content {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #333;

    &__text {
        display: none;
    }

    img {
        object-fit: contain;
    }

    &.last {
        left: 320px;
    }
}
